@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

html {
    box-sizing: border-box;
}

/* CONTAINER STYLING */
.container {
    max-width: 900px;
    width: 100%;
    margin: auto;
    padding-top: 50px;
}

/* GENERAL RESET */
button {
    all: unset;
    border: 1px black solid;
}


/* BUTTON 1 STYLING */
section.first-btn {
    position: relative;
}
button.btn-1 {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 20px;
    border-radius: .25rem;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    z-index: 2;
    background-color: #fff;
    transform: translate(-5px, -5px)
}
button.btn-1:active {
    transform: unset
}
.btn-1-div {
    position: absolute;
    width: 24px;
    height: 24px;
    padding: 10px;
    border-radius: .25rem;
    background-color: black;
    z-index: 1;
}
section.first-btn p {
    position: absolute;
    top: 30px;
    left: -10px;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 24px;
}